<div *ngIf="image" style="text-align: center;"><img  class="preview" [src]="image" /></div>
<div class="uploader-wrap" (click)="triggerClick()">
  <input type="text" class="form-control" readonly [ngModel]="imageName" />
  <button type="button" class="btn btn-info"><i class="bi bi-cloud-arrow-up-fill"></i></button>
</div>
<input
  type="file"
  class="form-control d-none"
  (change)="selectFile($event)"
  #fileUpoader
/>
