.preview {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  margin-bottom: 5px;
}
.uploader-wrap input {
  width: 85%;
  float: left;
  border-radius: 4px 0 0 4px;
  background: #fff;
}
.uploader-wrap button {
  width: 15%;
  background-color: #057380;
  border-color: #057380;
  border-radius: 0 4px 4px 0;
  border-left: 0;
}
