:root{
    --degrade:linear-gradient(90deg, rgba(4, 255, 240, 1) 0%, rgba(17, 185, 160, 1) 93%);
    --azulOscuro: #057380;
    --sombra: 0px 6px 9px 0px rgba(0, 0, 0, 0.26);
    --azul:#089BAB;
    --rojo:#DE3A21;
    --morado:#AB1A69;
}
/*------------------------------
----ESTILOS INDEX-------------*/
.mensaje {
    border-radius: 22px;
    height: 30vh;
    background: url(../../../assets/flayer.png) no-repeat center center fixed;
    padding: 25px;
    box-shadow: 5px 7px 8px 0px rgba(150, 150, 150, 1);
}
.blanco{
    color: white;
}
.texto45{
    font-size: 1.7rem;
    line-height:18px
}
.alertas{
    height: 15vh;
    border-radius: 22px;
    background-color: white;
}
.mb-4{
    padding-top: 25px;
}
.alertasD>.mb-4>p{
    line-height:1px
}
div.col.alertasD{
    padding-left:0.1rem;
    
}
.icono{
    padding-left: 0.5rem;
    border-right: 1px solid #707070;
    margin-top: 0.5rem;
}
.numero{
    font-family: 'Segoe UI semibold';
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: -25px;
}
.por{
    padding-left:5px;
    padding-right:5px;
}
/*-----ALERTAS2------*/
.alertas2{
    border-radius: 22px;
    background-color: white;
}
.letrasbold{
    font-family: 'Segoe UI';
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 23px;
}
.icono-numero{
    padding-left:3rem;
    padding-top: 0rem;
    /* line-height:5px */
}
/*CRONOGRMA*/
.cronograma{
    height: 85vh;
    background-color: white;
    border-radius: 22px;
    padding: 12px;
}
.fecha{
    width: 90%;
    margin: auto;
}
.fecha>p{
    line-height:9px;
    text-align: center;
    color: #474747;
}
.dia{
    display: block;
    padding: 1.7vmin;
}
.dia:hover{
    background-color: rgb(235, 233, 233);
    text-decoration: none;
}
.dia.active{
    background:var(--azul);
    color: white;
}
.dia{
    border-radius: 12px;
    text-decoration: none;
}
.flechas{
    color: #707070;
}
.fecha>p:checked{
    color: white;
}
.cartasCronograma{
    height: 46vh;
    width: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
}
.perfil-image{
    width: 3rem;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.cursor{
    cursor:pointer;
}

.cartasCronograma::-webkit-scrollbar {
    width: 4px;     /* Tamaño del scroll en vertical */
    height: 3px;    /* Tamaño del scroll en horizontal */
    /* display: none;   Ocultar scroll */
}
.cartasCronograma::-webkit-scrollbar-thumb {
    background: #057380;
    border-radius: 4px;
}
.cartasCronograma::-webkit-scrollbar-thumb:hover {
    background: #0bb6c9;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.cartasCronograma::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}