<div class="container-fluid">
    <br />
    <div class="row">
      <div class="col-md-8">
        <!-- Este es el mensaje de bienvenida -->
        <div class="mensaje">
          <div class="form-row">
            <div class="col-md-5">
              <div class="saludo">
                <p class="blanco texto45">Bienvenido</p>
                <p class="blanco texto45">Carlos Castrillon</p>
              </div>
              <hr />
            </div>
          </div>
          <div class="consejo">
            <p class="blanco">
              <i
                >El médico competente, antes de dar una medicina a su paciente,
                se familiariza no sólo con la enfermedad que desea curar, sino
                también con los hábitos y la constitución del enfermo. (Marco
                Tulio Cicerón)</i
              >
            </p>
          </div>
        </div>

        <!-- Mensaje de alertas -->
        <div class="mb-4">
          <div class="alertas">
            <div class="row">
              <div class="col-md-4">
                <div class="icono">
                  <div class="mb-2" style="float: left">
                    <i
                      class="bi bi-bell"
                      style="color: #089bab; font-size: 2.8rem; margin: auto"
                    ></i>
                  </div>
                  <div class="mb-2" style="float: left">
                    <div class="mb-4">
                      <p class="numero">
                        <b style="font-size: 2.8rem; color: black">9</b>
                      </p>
                    </div>
                  </div>
                  <div class="alertasD">
                    <div class="mb-4">
                      <p style="color: black; font-size: 1.3rem">
                        <b>Consultas</b>
                      </p>
                      <div class="form-inline block">
                        <div
                          class="por"
                          style="
                            background: #089bab41;
                            color: #089bab;
                            border: 1px solid #089bab;
                            border-radius: 5px;
                          "
                        >
                          HOY +23%
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="icono">
                  <div class="mb-2" style="float: left">
                    <i
                      class="bi bi-info-circle"
                      style="
                        color: #de3a21;
                        font-size: 2.8rem;
                        margin: auto;
                        float: right;
                      "
                    ></i>
                  </div>
                  <div class="mb-2" style="float: left">
                    <div class="mb-4">
                      <p class="numero">
                        <b style="font-size: 2.8rem; color: black">7</b>
                      </p>
                    </div>
                  </div>
                  <div class="alertasD">
                    <div class="mb-4">
                      <p style="color: black; font-size: 1.3rem">
                        <b>Pacientes</b>
                      </p>
                      <div class="form-inline block">
                        <div
                          class="por"
                          style="
                            background: #de3a213a;
                            color: #de3a21;
                            border: 1px solid #de3a21;
                            border-radius: 5px;
                          "
                        >
                          SIN ASISTIR +8%
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="icono" style="border: none">
                  <div class="mb-2" style="float: left">
                    <i
                      class="bi bi-clock-history"
                      style="
                        color: #ab1a69;
                        font-size: 2.8rem;
                        margin: auto;
                        float: right;
                      "
                    ></i>
                  </div>
                  <div class="mb-2" style="float: left">
                    <div class="mb-4">
                      <p class="numero">
                        <b style="font-size: 2.8rem; color: black">0</b>
                      </p>
                    </div>
                  </div>
                  <div class="alertasD">
                    <div class="mb-4">
                      <p style="color: black; font-size: 1.3rem">
                        <b>Evoluciones</b>
                      </p>
                      <div class="form-inline block">
                        <div
                          class="por"
                          style="
                            background: #ab1a6a63;
                            color: #ab1a69;
                            border: 1px solid #ab1a69;
                            border-radius: 5px;
                          "
                        >
                          A HOY +8%
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Curva de salud y entregas -->
        <div class="mb-2">
          <div class="row">
            <div class="col-sm-6">
              <div class="alertas2" style="height: 13rem; background: white">
                <img
                  src="../../assets/dynamic-realtime-line-chart.svg"
                  class="img-fluid"
                  alt="Responsive image"
                />
              </div>
            </div>
            <!-- Alertas de medicina Entregada -->
            <div class="col-sm-6">
              <div
                class="alertas2"
                style="
                  height: 13rem;
                  background: linear-gradient(
                    90deg,
                    rgba(4, 255, 240, 1) 0%,
                    rgba(17, 185, 160, 1) 93%
                  );
                "
              >
                <p class="letrasbold">Medicina Entregada</p>
                <div class="icono-numero">
                  <div class="row">
                    <div class="col-sm-6 text-center">
                      <p
                        style="font-size: 5rem; color: white; font-weight: bold"
                      >
                        190
                      </p>
                      <p
                        style="
                          color: white;
                          margin-top: -2rem;
                          text-shadow: var(--sombra);
                        "
                      >
                        *Registro Mes de Julio
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <i
                        class="bi bi-hand-thumbs-up-fill"
                        style="font-size: 5rem; color: white"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Recordatorios y fechas -->
      <div class="col-md-4">
        <div class="cronograma">
          <p style="font-size: 2rem; color: #089bab; font-weight: bold">
            Agosto 2020
          </p>
          <hr />
          <!-- Se coloca el horario por semana -->
          <nav class="nav nav-sm">
            <a href="#">
              <div class="flechas">
                <i class="bi bi-caret-left-fill"></i>
              </div>
            </a>
            <a class="dia" href="#">
              <div class="fecha">
                <p>LUN</p>
                <p style="font-weight: bold">01</p>
              </div>
            </a>
            <a class="dia" href="#">
              <div class="fecha">
                <p>MAR</p>
                <p style="font-weight: bold">02</p>
              </div>
            </a>
            <a class="dia" href="#">
              <div class="fecha">
                <p>MIE</p>
                <p style="font-weight: bold">03</p>
              </div>
            </a>
            <a class="dia" href="#">
              <div class="fecha">
                <p>JUE</p>
                <p style="font-weight: bold">04</p>
              </div>
            </a>
            <a class="dia" href="#">
              <div class="fecha">
                <p>SAB</p>
                <p style="font-weight: bold">05</p>
              </div>
            </a>
            <a class="dia" href="#">
              <div class="fecha">
                <p>DOM</p>
                <p style="font-weight: bold">06</p>
              </div>
            </a>
            <a href="#">
              <div class="flechas">
                <i class="bi bi-caret-right-fill"></i>
              </div>
            </a>
          </nav>
          <!-- Indicar las citas del dia -->
          <div class="form-row">
            <div class="col-md-9">
              <p style="font-size: 1.5rem">
                <b style="color: black; font-weight: bold">9</b> Citas Agendadas
              </p>
            </div>
            <div class="col-md-3">
              <a href="">
                <i
                  class="bi bi-arrow-right"
                  style="font-size: 1.5rem; color: #787878; float: right"
                ></i>
              </a>
            </div>
          </div>
          <div class="cartasCronograma">
            <div class="form-row">
              <div class="col">
                <!-- Contenedor de todas las cartas -->
                <ul class="list-group list-hover">
                  <li class="list-group-item">
                    <!-- Lista para las cartas  -->
                    <ul class="cursor list-inline">
                      <li class="list-inline-item">
                        <img
                          class="perfil-image img-responsive"
                          src="../../assets/quien-vio-foto-whatsapp.jpg"
                          alt="Responsive image"
                        />
                      </li>
                      <li class="list-inline-item">
                        <h6>Jhon Fredy Lugo</h6>
                        <i>Control Diabetes</i>
                      </li>
                      <li class="list-inline-item">
                        <b>8:30AM - 9:30AM</b>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <!-- Lista para las cartas  -->
                    <ul class="cursor list-inline">
                      <li class="list-inline-item">
                        <img
                          class="perfil-image img-responsive"
                          src="../../assets/quien-vio-foto-whatsapp.jpg"
                          alt="Responsive image"
                        />
                      </li>
                      <li class="list-inline-item">
                        <h6>Jhon Fredy Lugo</h6>
                        <i>Control Diabetes</i>
                      </li>
                      <li class="list-inline-item">
                        <b>8:30AM - 9:30AM</b>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <!-- Lista para las cartas  -->
                    <ul class="cursor list-inline">
                      <li class="list-inline-item">
                        <img
                          class="perfil-image img-responsive"
                          src="../../assets/quien-vio-foto-whatsapp.jpg"
                          alt="Responsive image"
                        />
                      </li>
                      <li class="list-inline-item">
                        <h6>Jhon Fredy Lugo</h6>
                        <i>Control Diabetes</i>
                      </li>
                      <li class="list-inline-item">
                        <b>8:30AM - 9:30AM</b>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <!-- Lista para las cartas  -->
                    <ul class="cursor list-inline">
                      <li class="list-inline-item">
                        <img
                          class="perfil-image img-responsive"
                          src="../../assets/quien-vio-foto-whatsapp.jpg"
                          alt="Responsive image"
                        />
                      </li>
                      <li class="list-inline-item">
                        <h6>Jhon Fredy Lugo</h6>
                        <i>Control Diabetes</i>
                      </li>
                      <li class="list-inline-item">
                        <b>8:30AM - 9:30AM</b>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <!-- Lista para las cartas  -->
                    <ul class="cursor list-inline">
                      <li class="list-inline-item">
                        <img
                          class="perfil-image img-responsive"
                          src="../../assets/quien-vio-foto-whatsapp.jpg"
                          alt="Responsive image"
                        />
                      </li>
                      <li class="list-inline-item">
                        <h6>Jhon Fredy Lugo</h6>
                        <i>Control Diabetes</i>
                      </li>
                      <li class="list-inline-item">
                        <b>8:30AM - 9:30AM</b>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

