* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
}
.wave {
  position: absolute;
  height: 103%;
  left: 0;
  bottom: 0;
  /* z-index: -1; */
  animation: move 10s infinite ease alternate;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}
.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.img img {
  width: 500px;
  position: absolute;
}
.login-container {
  display: flex;
  align-items: center;
  text-align: center;
}
form {
  width: 370px;
}
.avatar {
  width: 170px;
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 30px rgba(201, 200, 200, 0.2));
}
form h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  color: #333;
}
.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}
.input-div::after,
.input-div::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #057380;
  transition: 0.3s;
}
.input-div::after {
  right: 50%;
}
.input-div::before {
  left: 50%;
}
.input-div.focus .i svg {
  color: #057380;
}
.input-div.focus div h5 {
  top: -5px;
  font-size: 15px;
}
.input-div.focus::after,
.input-div.focus::before {
  width: 50%;
}
.input-div .uno {
  margin-top: 0;
}
.input-div .dos {
  margin-bottom: 4px;
}
.i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i svg {
  color: #d9d9d9;
  transition: 0.3s;
  height: 30px;
}
.input-div > div {
  position: relative;
  height: 45px;
}
.input-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
  display: none;
}
.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.4rem;
  color: #555;
  font-weight: 700;
}
.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    rgba(4, 255, 240, 1) 0%,
    rgba(17, 185, 160, 1) 93%
  );
  cursor: pointer;
  color: white;
  font-weight: 500;
  background-size: 200%;
  transition: 0.5s;
  text-transform: uppercase;
}
.btn:hover {
  background-position: right;
  color: white;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
    justify-content: center;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}
@keyframes move{
  0% {
    height: 100%;
  }
  100%{
    height: 115%;
  }
}
/* Para validaciones */
input.ng-invalid.ng-touched{
  background-color: #fadada;
}
