<img class="wave" src="../../assets/wave.png" />
<div class="container">
  <div class="img">
    <img src="../../../assets/undraw_Login_re_4vu2.svg" alt="" />
  </div>
  <div class="login-container">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit(formLogin.value)">
      <img class="avatar" src="../../../assets/Diabetes Final.png" alt="" />
      <div class="input-div uno">
        <div class="i"> 
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
          </svg>
        </div>
        <div>
          <h5>Usuario</h5>
          <input class="input" placeholder="Usuario" type="text" formControlName="username" />
        </div>
      </div>
      <div class="input-div dos">
        <div class="i">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-key-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
            />
          </svg>
        </div>
        <div>
          <h5>Contraseña</h5>
          <input class="input" placeholder="Contraseña" type="password" formControlName="password"/>
        </div>
      </div>
      <button type="submit" class="btn" [disabled]="formLogin.invalid" value="Login">Login</button>
      
      <div class="alert alert-danger" role="alert" *ngIf="errorStatus">
        <p>{{errorMsj}}</p>
      </div>      
      
    </form>
  </div>
</div>
