<!-- NAVAR DE ARRIBA -->
<header class="header">
  <div id="content">
    <nav class="navbar navbar-light navbar-lateral">
      <button
        type="button"
        id="sidebarCollapse"
        class="navbar-btn"
        (click)="siderCollapse()"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="textoIndice">{{ titulo }}</a>
      <form class="form-inline">
        <a
          class="nav-link img-fluid"
          routerLink="/buscar"
          routerLinkActive="active"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="23"
            height="23"
            fill="currentColor"
            class="bi bi-search iconos-nav"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </a>
        <a class="nav-link img-fluid" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="23"
            height="23"
            fill="currentColor"
            class="bi bi-bell-fill iconos-nav"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
            />
          </svg>
        </a>
        <!-- El scroll para cerrar sesion -->
        <div class="dropdown">
          <button class="profile"  id="perfilDown" data-bs-toggle="dropdown" aria-expanded="false">
              <img
                style="border-radius: 6px"
                src="../../../assets/quien-vio-foto-whatsapp.jpg"
                class="img-fluid"
                alt="Responsive image"
              />
          </button>
          <ul class="dropdown-menu" aria-labelledby="perfilDown">
            <li><button class="dropdown-item" type="button"> <i class="bi bi-person" style="color: #057380;"></i><span> Ver Perfil</span> </button></li>
            <li><button class="dropdown-item" type="button" (click)="cerrarSesion()"><i class="bi bi-box-arrow-left" style="color:#de3a21;"></i><span> Cerrar Sesion</span> </button></li>
          </ul>
        </div>
      </form>
    </nav>
  </div>
</header>
<!-- NAVBAR DE AL LADO -->
<div class="nav" id="navbar">
  <nav id="sidebar">
    <!-- <div class="sidebar-header"></div> -->
    <div>
      <a routerLink="/index" class="link_nav nav_logo">
        <img
          src="../../../assets/Logo Hospital en Blanco.png"
          class="img-fluid iconosDireccion"
          alt="Responsive image"
        />
        <span class="nav_name_logo"> DiaTen</span>
      </a>
      <div class="nav_listado">
        <!-- Para los usuarios frecuentes -->
        <div class="nav_items">
          <a routerLink="/index" class="link_nav">
            <i class="bi bi-grid-1x2-fill nav_icon"></i>
            <span class="nav_name">Tablero</span></a
          >
          <a routerLink="/buscar" class="link_nav">
            <i class="bi bi-heart-half nav_icon"></i>
            <span class="nav_name">Control</span>
          </a>
          <a routerLink="/usuario-panel" class="link_nav">
            <i class="bi bi-people-fill nav_icon"> </i>
            <span class="nav_name">Usuarios</span>
          </a>
          <a href="#" class="link_nav">
            <i class="bi bi-droplet-half nav_icon"> </i>
            <span class="nav_name">Salud</span>
          </a>
          <a href="#" class="link_nav">
            <i class="bi bi-person-check-fill nav_icon"> </i>
            <span class="nav_name">Salud</span>
          </a>
          <div class="nav__dropdown">
            <a href="#" class="link_nav despiegle">
              <i class="bi bi-journal-medical nav_icon"> </i>
              <span class="nav_name">Informes </span>
              <i class="bi bi-caret-up nav_icon nav__dropdown-icon"></i>
            </a>
            <div class="nav__dropdown-collapse">
              <div class="nav__dropdown-content">
                <a href="" class="nav__dropdown-item">Laboratorio </a>
                <a href="" class="nav__dropdown-item">Cardiaco </a>
                <a href="" class="nav__dropdown-item">4040 </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Para el usuario Administrador -->
        <div class="nav_items"></div>
      </div>
    </div>
    <a href="#" class="nav_salir">
      <i class="bi bi-box-arrow-left nav_icon"></i>
      <span class="nav_name">Salir</span>
    </a>
  </nav>
</div>
<br /><br /><br />
