@font-face {
  font-family: Bpreplay;
  src: url("../../../assets/fuentes/bpreplay/BPreplayBold.otf");
}
:root {
  --degrade: linear-gradient(
    90deg,
    rgba(4, 255, 240, 1) 0%,
    rgba(17, 185, 160, 1) 93%
  );
  --azulOscuro: #057380;
  --sombra: 0px 6px 9px 0px rgba(0, 0, 0, 0.26);
  --azul: #089bab;
  --rojo: #de3a21;
  --morado: #ab1a69;
  --fuente-normal: 1rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
}

/*-------------------------
ESTILOS DEL NAV ----------*/
.fondoazul {
  background-color: var(--azulOscuro);
  color: white;
}
#navbar {
  width: 68px;
  position: fixed;
  background: #089bab;
  color: #fff;
  height: 100vh;
  /* Nos permitira llenar toda la pantalla */
  transition: 0.3s;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: 100;
  justify-content: space-between;
  padding: 1.2rem 1.5rem 0;
  overflow:hidden;
}
/* lateral */
#sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  transition: 0.3s; /* overflow: auto; */
}

#navbar.active {
  margin-left: -90px;
}
#navbar.active ~ .contenedor {
  margin-left: 0px;
}
/* Al colocarse encima */
#navbar:hover {
  width: 200px;
}
#navbar:hover .nav_name {
  opacity: 1;
}
#navbar:hover .nav__dropdown-icon{
  opacity: 1;
}
#navbar:hover .nav_name_logo {
  opacity: 1;
}
.nav_listado {
  row-gap: 2.5rem;
}
/* Correr la pestaña del dropdown */
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* Formato para pantallas pequeñas */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -120px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}

/* Despliege del perfil */
.dropdown-menu{
  border-radius:12px ;
  margin-top: 10px;
}
.dropdown-item{
  font-size: 16px;
  font-family: 'poppins';
}
.dropdown-item>span{
  color: #7e7e7e;
}
.dropdown-item:hover{
  background: #f7f7f7;
  color: #089bab;
}
/* Estilos adicionales */

p {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.nav_logo {
  margin-bottom: 2.5rem;
}
/* ESTILOS DEL CONTENIDO DEL NAVBAR DE AL LADO */
.nav_listado,
.nav_items {
  display: grid;
}
.nav_listado {
  row-gap: 2.5rem;
}
.nav_items {
  row-gap: 1.5rem;
}
.link_nav {
  display: flex;
  align-items: center;
  color: white;
}

.link_nav:hover {
  color: #25e2f7;
  transform: scale(110%);
}
.despiegle:hover{
  color: #25e2f7;
  transform: scale(100%);
}
.nav_icon {
  font-size: 1.5rem;
  margin-right: 0.8rem;
}

.nav_name,
.nav_name_logo {
  font-size: var(--fuente-normal);
  font-weight: 500;
  font-family: Bpreplay;
  white-space: nowrap;
  letter-spacing: 0.1rem;
}

.nav_salir {
  margin-top: 5rem;
}

.iconosDireccion {
  width: 2rem;
  transition: 0.3s;
}

.nav_logo_name,
.nav_name,
.nav_subtitle,
.nav_name_logo,
.nav__dropdown-icon {
  opacity: 0;
  transition: 0.3s;
}
/*
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
} */

/* #sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}
#sidebar ul li a:hover {
    color: #089BAB;
    background:#fff;
    transition: all 0.8s;
    z-index: -1;
}
#sidebar ul li a:active {
    background-color: var(--azulOscuro);
}
.opacidad a >i{
    font-size: 1.7rem;
    margin-right:.9rem;
} */

/* #sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background-color: var(--azulOscuro);
} */

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  /* background: rgba(0, 0, 0, 0.7); */
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}
.iconosDireccion:hover {
  /* transform: scale(1.6); */
}
/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding-left: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }

  #sidebar.active {
    margin-left: 0;
    transform: none;
  }

  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  #sidebarCollapse.active span {
    margin: 0 auto;
  }

  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }

  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }

  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}
/* NAVBAR DEL ARRIBA */
.header {
  width: 100%;
  position: absolute;
}
.navbar-lateral {
  width: 80%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 1px 0 rgb(22, 8, 43/10%);
  margin: auto;
  background-color: white;
  height: fit-content;
}

#textoIndice {
  font-weight: bolder;
  font-size: 27px;
  color: #089bab;
  position: relative;
  padding: auto;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
.profile {
  width: 50px;
  height: 50px;
  border-left: 2px solid #9b9b9b;
  padding: 5px;
  background: none;
  border: none;
}
.normal {
  opacity: 1;
  background-color: var(--azul);
}
.opacidad {
  opacity: 1;
  background-color: var(--rojo);
}
.iconos-nav {
  font-size: 25px;
  color: #9b9b9b;
}
.nav-link:hover {
  transform: scale(1.2);
}
.contenedor {
  margin-left: 80px;
  transition: 0.3s;
  /* width: var(100vw-68px); */
}
/* DROPDOWS */
/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  width: max-content;
  max-height: 32px;
  transition: 0.4s ease-in-out;
}

.nav__dropdown-collapse {
  background-color: #f4f0fa;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.nav__dropdown-content {
  display: grid;
  row-gap: 0.5rem;
  padding: 0.75rem 2.5rem 0.75rem 1.8rem;
}

.nav__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: #58555E;
}

.nav__dropdown-item:hover {
  color: #057380;
}

.nav__dropdown-icon {
  transition: 0.4s;
  color: white;
  margin-left: 10px;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}
