input.form-control {
  height: 4vw;
  border-radius: 19px;
  font-size: 25px;
  font-family: 'poppins';
}
.tableResBusqueda {
  border-radius: 30px;
  height: 75vh;
  background-color: white;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.26);
  padding: 10px;
  overflow-y: auto;
}
.table{
  display: flexbox;
  overflow: auto;
  margin-top: 0px;
}
th {
  font-weight: bold;
}
.table th {
  border-top: none;
  position: static;
  border-bottom: 1px solid gray;
  font-family: 'poppins';
  text-transform: capitalize;
  letter-spacing: 1px;
}
.tableResBusqueda::-webkit-scrollbar {
  width: 4px; /* Tamaño del scroll en vertical */
  height: 3px; /* Tamaño del scroll en horizontal */
  /*display: none;   Ocultar scroll */
}
.tableResBusqueda::-webkit-scrollbar-thumb {
  background: #057380;
  border-radius: 4px;
}
.tableResBusqueda::-webkit-scrollbar-thumb:hover {
  background: #0bb6c9;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.tableResBusqueda::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
td{
  padding: 12px;
}