:root{
    --degrade:linear-gradient(90deg, rgba(4, 255, 240, 1) 0%, rgba(17, 185, 160, 1) 93%);
    --azulOscuro: #057380;
    --sombra: 0px 6px 9px 0px rgba(0, 0, 0, 0.26);
    --azul:#089BAB;
    --rojo:#DE3A21;
    --morado:#AB1A69;
}
#inputs {
    padding-top: 6%;
}

input.form-control {
    height: 65px;
    border-radius: 19px;
    background-color: #F3F3F3;
    font-size: 23px;
}

.contenedor {
    border-radius: 30px;
    height: 510px;
    background-color: white;
    box-shadow: var(--sombra)
}

#textoInicio {
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    color: #5D5D5D;
    font-size: 3rem;
}

label {
    font-size: 1.7rem;
    color: #9B9B9B;
}

#cajas {
    padding-left: 35px;
    padding-right: 35px;
}

.aceptar {
    background: rgb(4, 255, 240);
    background: var(--degrade);
    border-radius: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    /* height: 70px; */
    width: 240px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.aceptar:hover {
    color: whitesmoke;
}

.finalDiv {
    padding: 12px;
}

@media (max-width: 790px) {
    .aceptar{
        width: 190px;
    }
}
/*-------------------------
ESTILOS DEL NAV ----------*/
.fondoazul {
    background-color: var(--azulOscuro);
    color: white;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* lateral */
#sidebar {
    min-width: 90px;
    max-width: 90px;
    min-height: 100vh;
    /* Nos permitira llenar toda la pantalla */
}

#sidebar.active {
    margin-left: -90px;
}

/* Correr la pestaña del dropdown */
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Formato para pantallas pequeñas */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -120px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

/* Estilos adicionales */

p {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #089BAB;
    color: #fff;
    transition: all 0.3s;
}

.sidebar-header {
    margin-bottom: 1px solid #056c77;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #089BAB;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #089BAB;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: var(--azulOscuro);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--azulOscuro);
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    /* background: rgba(0, 0, 0, 0.7); */
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}
/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding-left: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
#sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
}

#sidebar.active {
    margin-left: 0;
    transform: none;
}

#sidebarCollapse span:first-of-type,
#sidebarCollapse span:nth-of-type(2),
#sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#sidebarCollapse.active span {
    margin: 0 auto;
}

#sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

}


.navbar-lateral {
    width: 80%;
    text-align: center;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: var(--sombra);
    margin: auto;
}

#textoIndice {
    font-weight: bolder;
    color: #089BAB;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    margin: 12px;
}
.profile{
    width: 50px;
    height: 50px;
}
.normal{
    opacity: 1;
}
.opacidad{
    opacity: 0.7;
}