<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="../../../assets/Logo Hospital en Blanco.png" class="img-fluid" alt="Responsive image">
        </div>

        <ul class="list-unstyled components">
            <!-- <p>Bienvenido</p> -->
            <li class="active text-center normal">
                <a href="#">
                    <i class="bi bi-grid-1x2-fill" style="font-size:32px;"></i></a>
                <!-- <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Inicio</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul> -->
            </li>
            <li class="text-center opacidad">
                <a href="#pageSubmenu">
                    <i class="bi bi-heart-half" style="font-size:32px;"></i>
                </a>
            </li>
            <li class="text-center opacidad">
                <a href="#">
                    <i class="bi bi-people-fill" style="font-size:32px;"></i>
                </a>
            </li>
            <li class="text-center opacidad">
                <a href="#">
                    <i class="bi bi-droplet-half " style="font-size:32px;"></i>
                </a>
            </li>
            <li class="text-center opacidad">
                <a href="#">
                    <i class="bi bi-person-check-fill" style="font-size:32px;"></i>
                </a>
            </li>
            <li class="text-center opacidad">
                <a href="#">
                    <i class="bi bi-journal-medical" style="font-size:32px;"></i>
                </a>
            </li>
            <li class="text-center opacidad">
                <a href="#">
                    <i class="bi bi-box-arrow-left" style="font-size:32px;"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-lateral">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a class="navbar-brand" href="#" id="textoIndice">Menú Principal</a>
                <button class="btn fondoazul d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <img src="../../../assets/list.svg" alt="">
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-row flex-wrap ml-auto">
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link p-2" href="#">
                                <img src="../../../assets/search.svg"></a>
                        </li>
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link p-2" href="#">
                                <img src="../../../assets/bell-fill.svg"></a>
                        </li>
                        <li class="nav-item col-6 col-md-auto" style="border-left: 1px solid #707070;">
                            <div class="profile">
                                <a class="nav-link" href="#">
                                    <img style="border-radius: 6px;" src="../../../assets/quien-vio-foto-whatsapp.jpg"
                                        class="img-fluid" alt="Responsive image">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
            $('.opacidad').on('click', function () {
                // hide sidebar
                $(this).removeClass('opacidad');
                $('.normal').toggleClass('opacidad');
                $('.normal').removeClass('normal');
                $(this).toggleClass('normal');
                // // hide overlay
                // $('.overlay').removeClass('active');
            })
        });
    </script>