/* You can add global styles to this file, and also import other style files */

.contenedor {
  margin-left: 80px;
  transition: 0.3s;
  /* width: var(100vw-68px); */
}
#navbar.active ~ .contenedor {
  margin-left: 0px;
}