.carta {
    padding: 1vw;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.26);
    height: 48vh;
    overflow: auto;
  }
  .imagenPerfil {
    border-radius: 160px;
    height: 12vw;
    width: 12vw;
    border: 5px solid rgb(1, 44, 78);
  }
  .datosPaciente {
    padding: 2vw;
  }
  .contenedor {
    margin-top: 3vh;
    padding: 3vw;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.26);
  }
  .badge {
    font-size: 1rem;
    padding: 6px;
  }
  label {
    color: #057380;
    font-weight: bold;
  }
  .centrar {
    margin-top: 23px;
    text-align: center;
  }
  input.form-control {
    font-size: 18px;
  }