<br />
<!-- Contenedor Superior -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="carta text-center">
        <img
          class="imagenPerfil"
          src="https://www.dzoom.org.es/wp-content/uploads/2020/02/portada-foto-perfil-redes-sociales-consejos.jpg"
          alt=""
        />
        <h5>Juana de a Cruz</h5>
        <p>312374638468</p>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="resLaboratorio"
          />
          <label class="form-check-label" for="resLaboratorio">
            Añadir resultados de laboratorio
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="datosPaciente carta">
        <form>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="Edad">Edad</label>
              <input
                type="number"
                class="form-control"
                id="Edad"
                placeholder="Edad"
              />
              <!-- Segundo -->
              <label for="IMC">IMC</label>
              <input
                type="number"
                class="form-control"
                id="IMC"
                placeholder="IMC"
              />
              <!-- Tercero -->
              <label for="inputEmail4">Fecha del Control</label>
              <input
                type="date"
                class="form-control"
                id="inputEmail4"
                placeholder="Fecha del Control"
              />
            </div>
            <div class="form-group col-md-4">
              <!-- Cuarto -->
              <label for="Talla">Talla</label>
              <input
                type="number"
                class="form-control"
                id="Talla"
                placeholder="Talla"
              />
              <!-- Quinto -->
              <label for="TA_S">TA_S</label>
              <input
                type="number"
                class="form-control"
                id="TA_S"
                placeholder="TA_S"
              />
              <!-- Sexto -->
              <label for="Obesidad">Obesidad</label>
              <input
                type="text"
                class="form-control"
                id="Obesidad"
                placeholder="Obesidad"
              />
            </div>
            <div class="form-group col-md-4">
              <!-- Septimo -->
              <label for="Peso">Peso</label>
              <input
                type="number"
                class="form-control"
                id="Peso"
                placeholder="Peso"
              />
              <!-- Octavo -->
              <label for="TA_D">TA_D</label>
              <input
                type="number"
                class="form-control"
                id="TA_D"
                placeholder="TA_D"
              />
              <!-- Noveno -->
              <label for="HTA">HTA</label>
              <input
                type="text"
                class="form-control"
                id="HTA"
                placeholder="HTA"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Contenedor de abajo -->
<div class="container-fluid">
  <div class="contenedor">
    <div class="row">
      <div class="col-md-3">
        <label for="medicamentos">Asociación de Medicamentos</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-plus-lg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                />
              </svg>
            </span>
          </div>
          <select class="custom-select" id="medicamentos">
            <option selected>LOSARTAN</option>
            <option value="1">INSULINA 1</option>
            <option value="2">INSULINA 2</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 centrar">
        <span class="badge badge-pill badge-primary my-1">LOSARTAN</span>
        <span class="badge badge-pill badge-secondary my-1">INSULINA</span>
      </div>
      <div class="col-md-3">
        <label for="fechaControl">Fecha del próximo control</label>
        <input class="form-control" type="date" name="" id="fechaControl" />
      </div>
      <div class="col-md-3 centrar">
        <button class="btn btn-outline-primary btn-lg btn-block">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-cloud-arrow-up-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"
            />
          </svg>
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>