:root {
    --azulOscuro: #057380;
    --sombra: 0px 6px 9px 0px rgba(0, 0, 0, 0.26);
    --azul: #089bab;
    --rojo: #de3a21;
    --morado: #ab1a69;
  }
  
  /* Estilos iconos menu */
  .agregar svg {
    color: #089bab;
    height: 1.6rem;
  }
  .editar svg {
    color: #02c057;
    height: 1.6rem;
  }
  .eliminar svg {
    color: #de3a21;
    height: 1.6rem;
  }
  .roles svg {
    color: rgb(255, 174, 0);
    height: 1.6rem;
  }
  .agregar,
  .eliminar,
  .editar,
  .roles {
    font-family: 'poppins';
    font-size: 1.1rem;
    color: black;
    padding: 0.5rem;
    letter-spacing: -0.5px;
  }
  .roles:hover {
    color: #057380;
  }
  .agregar:hover {
    color: #057380;
  }
  .eliminar:hover {
    color: #057380;
  }
  .editar:hover {
    color: #057380;
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
  .menuAcciones {
    text-align: center;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.26);;
    height: 8vh;
  }
  /* Estilos de los usuarios */
  .usuarios , .cajon {
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.26);;
    height: 70vh;
    overflow: auto;
  }
  .perfil-image {
    width: 4rem;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .carta {
    padding: 2vh;
    height: 60vh;
    overflow-x: auto;
  }
  .cursor {
    cursor: pointer;
  }
  .flecha {
    float: left;
    height: 2.5rem;
    color: #089bab;  
  }
  .list-inline-item {
    padding-right: 4rem;
    text-align: center;
    float: left;
  }
  /* SCROLL */
  .carta::-webkit-scrollbar {
    width: 4px; /* Tamaño del scroll en vertical */
    height: 3px; /* Tamaño del scroll en horizontal */
    /*display: none;   Ocultar scroll */
  }
  .carta::-webkit-scrollbar-thumb {
    background: #057380;
    border-radius: 4px;
  }
  .carta::-webkit-scrollbar-thumb:hover {
    background: #0bb6c9;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .carta::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

  .textoInicio h2{
    color: #089bab; 
    font-size: 2.5rem;
    text-align: center;
  }
  /* Cajon perfil */
  .imagenPerfil {
    border-radius: 160px;
    height: 16vw;
    width: 16vw;
    border: 5px solid rgb(1, 44, 78);
  }
  .cajon{
    padding: 1.5rem;
  }
  .cajon{
    font-size: 2rem;
    line-height: 20px;
  }
  .cargo{
    font-size: 1.6rem;
  }