<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="textoInicio">
        <h2>Usuarios</h2>
        <br />
      </div>
      <div class="cajon text-center">
        <h1>Administrador</h1>
        <div class="Perfil">
          <img
            class="img-responsive imagenPerfil"
            src="https://images.unsplash.com/photo-1566753323558-f4e0952af115?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
            alt=""
          />
        </div>
        <hr />
        <p>Juan David Solano</p>
        <p class="cargo"><i>27 Años - Sistemas</i></p>
        <code class="cargo">Todos los permisos</code>
      </div>
    </div>
    <div class="col-md-7">
      <div class="menuAcciones">
        <a class="agregar" (click)="newUser(addUser)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-person-plus-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
            <path
              fill-rule="evenodd"
              d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"
            />
          </svg>
          Agregar Usuarios
        </a>
        <a class="editar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-person-check-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"
            />
            <path
              d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
          </svg>
          Editar Usuarios
        </a>
        <a class="eliminar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-person-dash-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"
            />
            <path
              d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
          </svg>
          Eliminar Usuarios
        </a>
        <a class="roles">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
          Roles
        </a>
      </div>
      <br />
      <div class="usuarios">
        <div class="cartasCronograma">
          <div class="carta">
            <div class="form-row">
              <div class="col">
                <!-- Contenedor de todas las cartas -->
                <ul class="list-group list-hover">
                  <li class="list-group-item">
                    <!-- Lista para las cartas  -->
                    <ul class="cursor list-inline">
                      <li class="list-inline-item">
                        <img
                          class="perfil-image img-fluid"
                          src="https://d2lcsjo4hzzyvz.cloudfront.net/blog/wp-content/uploads/2020/10/07114553/me%CC%81dicos-influencers-en-Instagram-413x455.jpg"
                          alt="Responsive image"
                        />
                      </li>
                      <li class="list-inline-item">
                        <h4>Jhon Fredy Lugo</h4>
                        <i>32 Años - Enfermero</i>
                      </li>
                      <li class="list-inline-item">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          class="flecha bi bi-arrow-right-circle-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                          />
                        </svg>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <!-- Lista para las cartas  -->
                    <ul class="cursor list-inline">
                      <li class="list-inline-item">
                        <img
                          class="perfil-image img-fluid"
                          src="https://d2lcsjo4hzzyvz.cloudfront.net/blog/wp-content/uploads/2020/10/07114553/me%CC%81dicos-influencers-en-Instagram-413x455.jpg"
                          alt="Responsive image"
                        />
                      </li>
                      <li class="list-inline-item">
                        <h4>Jhon Fredy Lugo</h4>
                        <i>32 Años - Enfermero</i>
                      </li>
                      <li class="list-inline-item">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          class="flecha bi bi-arrow-right-circle-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                          />
                        </svg>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <!-- Lista para las cartas  -->
                    <ul class="cursor list-inline">
                      <li class="list-inline-item">
                        <img
                          class="perfil-image img-fluid"
                          src="https://d2lcsjo4hzzyvz.cloudfront.net/blog/wp-content/uploads/2020/10/07114553/me%CC%81dicos-influencers-en-Instagram-413x455.jpg"
                          alt="Responsive image"
                        />
                      </li>
                      <li class="list-inline-item">
                        <h4>Jhon Fredy Lugo</h4>
                        <i>32 Años - Enfermero</i>
                      </li>
                      <li class="list-inline-item">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          class="flecha bi bi-arrow-right-circle-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                          />
                        </svg>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <!-- Lista para las cartas  -->
                    <ul class="cursor list-inline">
                      <li class="list-inline-item">
                        <img
                          class="perfil-image img-fluid"
                          src="https://d2lcsjo4hzzyvz.cloudfront.net/blog/wp-content/uploads/2020/10/07114553/me%CC%81dicos-influencers-en-Instagram-413x455.jpg"
                          alt="Responsive image"
                        />
                      </li>
                      <li class="list-inline-item">
                        <h4>Jhon Fredy Lugo</h4>
                        <i>32 Años - Enfermero</i>
                      </li>
                      <li class="list-inline-item">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          class="flecha bi bi-arrow-right-circle-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                          />
                        </svg>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <!-- Lista para las cartas  -->
                    <ul class="cursor list-inline">
                      <li class="list-inline-item">
                        <img
                          class="perfil-image img-fluid"
                          src="https://d2lcsjo4hzzyvz.cloudfront.net/blog/wp-content/uploads/2020/10/07114553/me%CC%81dicos-influencers-en-Instagram-413x455.jpg"
                          alt="Responsive image"
                        />
                      </li>
                      <li class="list-inline-item">
                        <h4>Jhon Fredy Lugo</h4>
                        <i>32 Años - Enfermero</i>
                      </li>
                      <li class="list-inline-item">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          class="flecha bi bi-arrow-right-circle-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                          />
                        </svg>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal para crear usuario -->
  <!-- Modal -->
  <ng-template #addUser let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Crear Usuario</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="formUser">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="nameUser">Nombre del Usuario</label>
              <input
                id="nameUser"
                type="text"
                ngbAutofocus
                class="form-control"
                placeholder="Nombre del Usuario"
                formControlName="nombre"
              />
            </div>
            <div class="mb-3">
              <label for="pw">Contraseña del Usuario</label>
              <input
                type="password"
                class="form-control"
                placeholder="Contraseña del Usuario"
                id="pw"
                formControlName="pass"
              />
            </div>
            <div class="mb-3">
              <label for="pw1">Repita Contraseña del Usuario</label>
              <input
                type="password"
                class="form-control"
                placeholder="Repita Contraseña de Usuario"
                id="pw1"
                formControlName="pass1"
              />
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="rol">Seleccione un Rol</label>
              <select class="custom-select" formControlName="rol">
                <option value="2" selected>Enfermera</option>
                <option value="1">Doctor</option>
                <option value="3">Jefe Enfermeria</option>
                <option value="4">Administrador</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="per">Asociar persona</label>
              <input
                type="number"
                id="per"
                class="form-control"
                placeholder="Digite el documento a Asociar"
                formControlName="id"
              />
            </div>
          </div>
          <!-- <div class="col">
            <div class="mb-3">
              <label for="foto">Foto o Perfil</label>
              <file-uploader
                id="foto"
                (onFileSelect)="onFileSelect($event)"
              ></file-uploader>
            </div>
          </div> -->
        </div>
        <div class="container" style="text-align: center">
          <button
          type="submit"
          class="btn btn-outline-success btn-lg"
          (click)="createUser(formUser.value)"
          [disabled]="formUser.invalid"
          >
          <i class="bi bi-cloud-check-fill"></i>
            Guardar
          </button>
        </div>
      </form>
    </div>

    <div class="modal-footer"></div>
  </ng-template>
  <!-- <div
    class="modal fade"
    id="addUser"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Crear Usuario</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Eso es lo que hay</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
</div>
